* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Indie Flower", cursive;
	font-weight: 400;
	font-style: normal;
}

body {
	min-width: 100%;
	min-height: 100vh;
	background-color: #000;
	color: #fff;
}
#root {
	min-width: 100%;
	min-height: 100vh;
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#PostListCard {
	display: block;
	max-width: 800px;
	display: flex;
	font-size: 18px;
	border-bottom: 2px dashed #888888;
}

#imageHolder {
	background-color: #888888;
	font-size: 3rem;
	color: #fff;
	flex-shrink: 0;
	margin: 16px;
	border: 6px solid #fff;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	align-content: center;
	text-align: center;
	overflow: hidden;
}

#titleHolder {
	display: block;
	background-color: #404040;
	border: 2px solid #888888;
	border-radius: 20px;
	border-top-left-radius: 0px;
	margin: 16px;
	padding: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: #fff;
}

a {
	text-decoration: none;
}

#UsersCard {
	display: flex;
	border: 2px solid white;
	max-width: 500px;
	border-radius: 30px;
	margin: 4px;
}

#NameHolder {
	font-size: 2.5rem;
	text-decoration: none;
	color: #fff;
	align-content: center;
	padding: 16px;
}

#PostCard {
	display: block;
	max-width: 800px;
	display: flex;
	font-size: 18px;
	border-bottom: 2px dashed #888888;
	background-color: darkslategrey;
	border-radius: 30px;
}

#container {
	display: flex;
	flex-direction: column;
}

#bodyHolder {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	margin: 16px;
}

#Header {
	position: fixed;
	top: 0;
	border-bottom: 2px dashed #fff;
	width: 100%;
	padding: 16px;
	background-color: #222222;
	font-size: 3rem;
	align-content: center;
	text-align: center;
	display: flex;
	justify-content: center;
}

#Header > a {
	margin: 16px;
	color: #fff;
}

#nameTitle {
	font-size: 2rem;
	padding: 16px;
}
